<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193608885699-bogj1vlbd1cu54chu1utv21agdokbsgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193608885699-bogj1vlbd1cu54chu1utv21agdokbsgp</string>
	<key>API_KEY</key>
	<string>AIzaSyCrSX6U-5C9ug1wpRf03wMw4EHdQk8mWwo</string>
	<key>GCM_SENDER_ID</key>
	<string>193608885699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alimertkaya.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-2100e</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-2100e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193608885699:ios:4c8e5240e259f3208c8976</string>
</dict>
</plist>